<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        {{#each post_meta}}
            <div>
                <span>{{publish_date}}</span>
                <span>{{title}}</span>
            </div>
        {{/each}}
    </body>
</html>