body {
    background-color: #fff;
    font-family: 'Inter', sans-serif;
    line-height: 170%;
}

.site-title {
    font-family: 'Fira Mono', monospace;
}

.site-title a {
    text-decoration: none;
    color: inherit;
}

.site-title a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.page-container {
    margin: 0 auto;
    width: 70%;
    max-width: 650px;
}

/* Index styles. */

.index-container {
    margin-top: 2em;
}

.index-item-container {
    margin-top:0.5em;
}

.post-index-link {
    text-decoration: none;
    color: inherit;
}
.post-index-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;

}

.post-index-date {
    font-family: 'Fira Mono', monospace;
    color:#888;
}

.post-index-title {
    margin-left: 0.5em;
}


/* Post styles. */

.post-container {
    margin-top: 2em;
}

.post-publish-date {
    font-family: 'Fira Mono', monospace;
    color:#888;
}

.post-container img {
    width: 100%;
    border-radius: 10px;
}

/* Styles for responsiveness for mobile. */
@media only screen and (max-width: 600px) {
    .page-container {
        width: 100%;
        margin: 0 auto;
        padding: 0.25em;
    }
}